@import "tailwindcss";

:root {
  --gutter: 32px;
  --content-max-width: 1500px;
  --transition: all 300ms ease;
  --border-radius: 8px;
  --bg-color: #ffffff;
  --main-color: #000000;
  --caret-color: #000000;
  --sub-color: #b2b2b2;
  --sub-alt-color: #dddddd;
  --text-color: #000000;
  --error-color: #d70000;
  --error-extra-color: #d70000;
  --colorful-error-color: #d70000;
  --colorful-error-extra-color: #d70000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --main-color: #eee;
    --caret-color: #eee;
    --sub-color: #444;
    --sub-alt-color: #191919;
    --text-color: #eee;
    --error-color: #da3333;
    --error-extra-color: #791717;
    --colorful-error-color: #da3333;
    --colorful-error-extra-color: #791717;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.homeGrid {
  width: 100vw;
  height: 100dvh;
  display: grid;
  grid-template-columns: [full-page-start] var(--gutter) [content-start] 1fr [content-end] var(--gutter) [full-page-end];
  grid-template-rows: [full-page-start] var(--gutter) [content-start] 1fr [footer-start] var(--gutter) [full-page-end];
}

.pageGrid {
  width: 100vw;
  height: 100dvh;
  display: grid;
  grid-template-columns: [full-page-start] var(--gutter) [content-start] 1fr [content-end] var(--gutter) [full-page-end];
  grid-template-rows: [full-page-start] min-content [padding-start] var(--gutter) [content-start] 1fr [footer-start] var(--gutter) [full-page-end];
}
