/*!
  Theme: OneDark
  Author: Lalit Magant (http://github.com/tilal6991)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/

:root:not(.dark-code) {
  --hljs-bg0: #fafafa; /* Default Background */
  --hljs-bg1: #eaeaeb; /* Lighter Background (Used for status bars, line number and folding marks) */
  --hljs-bg2: #d6d6d6; /* Selection Background */
  --hljs-bg3: #f0f0f1; /* Light Background (Not often used) */
  --hljs-cmt: #a0a1a7; /* Comments, Invisibles, Line Highlighting */
  --hljs-fg0: #383a42; /* Dark Foreground (Used for status bars) */
  --hljs-fg1: #4f525e; /* Default Foreground, Caret, Delimiters, Operators */
  --hljs-fg2: #6a6d7a; /* Light Foreground (Not often used) */
  --hljs-red: #e45649; /* Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  --hljs-org: #d19a66; /* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  --hljs-yel: #986801; /* Classes, Markup Bold, Search Text Background */
  --hljs-grn: #50a14f; /* Strings, Inherited Class, Markup Code, Diff Inserted */
  --hljs-blu: #4078f2; /* Support, Regular Expressions, Escape Characters, Markup Quotes */
  --hljs-idg: #a626a4; /* Functions, Methods, Attribute IDs, Headings */
  --hljs-vlt: #0184bc; /* Keywords, Storage, Selector, Markup Italic, Diff Changed */
  --hljs-wng: #c18401; /* Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
}

:root.dark-code {
  --hljs-bg0: #282c34; /* Default Background */
  --hljs-bg1: #353b45; /* Lighter Background (Used for status bars, line number and folding marks) */
  --hljs-bg2: #3e4451; /* Selection Background */
  --hljs-bg3: #c8ccd4; /* Light Background (Not often used) */
  --hljs-cmt: #545862; /* Comments, Invisibles, Line Highlighting */
  --hljs-fg0: #565c64; /* Dark Foreground (Used for status bars) */
  --hljs-fg1: #abb2bf; /* Default Foreground, Caret, Delimiters, Operators */
  --hljs-fg2: #b6bdca; /* Light Foreground (Not often used) */
  --hljs-red: #e06c75; /* Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  --hljs-org: #d19a66; /* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  --hljs-yel: #e5c07b; /* Classes, Markup Bold, Search Text Background */
  --hljs-grn: #98c379; /* Strings, Inherited Class, Markup Code, Diff Inserted */
  --hljs-blu: #56b6c2; /* Support, Regular Expressions, Escape Characters, Markup Quotes */
  --hljs-idg: #61afef; /* Functions, Methods, Attribute IDs, Headings */
  --hljs-vlt: #c678dd; /* Keywords, Storage, Selector, Markup Italic, Diff Changed */
  --hljs-wng: #be5046; /* Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
}

pre {
  position: relative;
  background: var(--hljs-bg0);
  overflow-x: auto;
  padding: 10px;
  display: flex;
}

pre::after {
  content: "";
  display: inline-block; /* This ensures the element takes up space */
  width: 10px; /* Creates padding effect at the right */
}

.hljs {
  color: var(--hljs-fg1);
  background: var(--hljs-bg0);
}

.hljs::selection,
.hljs ::selection {
  background-color: var(--hljs-bg2);
  color: var(--hljs-fg1);
}

/* purposely do not highlight these things */
.hljs-formula,
.hljs-params,
.hljs-property {
  color: inherit;
}

/* Comments, Invisibles, Line Highlighting */
.hljs-comment {
  color: var(--hljs-cmt);
}

/* Dark Foreground (Used for status bars) */
.hljs-tag {
  color: var(--hljs-fg0);
}

/* Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: var(--hljs-fg1);
}

.hljs-operator {
  opacity: 0.7;
}

/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: var(--hljs-red);
}

/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: var(--hljs-org);
}

/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--hljs-yel);
}

.hljs-strong {
  font-weight: bold;
  color: var(--hljs-yel);
}

/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: var(--hljs-grn);
}

/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
.hljs-built_in,
.hljs-doctag, /* guessing */
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: var(--hljs-blu);
}

/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: var(--hljs-idg);
}

/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
.hljs-type,
/* .hljs-selector-id, */
/* .hljs-selector-class, */
/* .hljs-selector-attr, */
/* .hljs-selector-pseudo, */
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: var(--hljs-vlt);
}
.hljs-emphasis {
  color: var(--hljs-vlt);
  font-style: italic;
}

/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
.hljs-meta,
/*
  prevent top level .keyword and .string scopes
  from leaking into meta by accident
*/
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: var(--hljs-wng);
}

.hljs-meta .hljs-keyword,
/* for v10 compatible themes */
.hljs-meta-keyword {
  font-weight: bold;
}
